# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=OWLC_Coin Daemon SNAP
Comment=testnet
GenericName=OWLC_Coin Digital Currency Daemon Client testnet network
Exec=owlc_coin-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/owlc_coin_testnet.png
MimeType=x-scheme-handler/owlc;
Categories=X-Office;X-Finance;
Keywords=internet;owlc_coin;zowlc;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
