# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=OWLC_Coin
Comment=OWLC_Coin QT main network
GenericName=OWLC_Coin Digital Currency QT client main network
Exec=owlc_coin-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/owlc_coin.png
MimeType=x-scheme-handler/owlc_coin;
Categories=X-Office;X-Finance;
Keywords=internet;owlc_coin;zowlc;owlc;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
